<form action="<%= track_notes_url(track_id: track_id) %>" method="post">
  <%= auth_token %>

  <textarea name="note[note_text]"></textarea>
  </label><br>
  
  <input type="submit" value="Leave Note">
</form>
<br>