<%= render "shared/buttons", name: @track.name %>

<h4><%= @track.standard_or_bonus.capitalize %></h4><br>

<% unless @track.lyrics.nil? %>
  <p><%= @track.lyrics %></p>
<% end %>

<%= render "tracklist", track: @track %>