<h3>Create an account:</h3>
<%= render "shared/errors" %>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <%= render "shared/email_password" %>
  
  <input type="submit" value="Create Account">
</form>