<label for="email">Email:</label>&nbsp;
<input name="user[email]" id="email" type="text" value=""><br><br>

<label for="password">Password:</label>&nbsp;
<input name="user[password]" id="password" type="password" value=""><br><br>
